input:checked + label {
  text-decoration: line-through;

}
html {
  margin-top: 65px;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-image: url("../images/fond.jpg");
  background-attachment: fixed;
  background-size: 2485px;

}
.titre{
  color: black;
}
.c{
  background-color: transparent;
  border-color: transparent;
}
.img-c{
  max-width: 30px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.deco{
  background-color: transparent;
  border-color: transparent;
  color: white;
}